{# Template for final story page of MadLibs application.
The final story page displays the story with all words filled in by the user. #}


{% extends 'base.jinja2' %}

{% block title %}MadLibs: Your Story{% endblock %}

{% block content %}

    <h1>Your Story</h1>

    <p>
        {{ final_story }}
    </p>

{% endblock %}
