{# Template for story input page of MadLibs application.
The story input page allows the user to input words to fill in for a story. #}


{% extends 'base.jinja2' %}

{% block title %}MadLibs: Home{% endblock %}

{% block content %}

    <h1>MadLibs</h1>

    <form id="story-form" action="/story">

        {% for prompt in prompt_list %}
            <label for='{{ prompt }}'>{{ prompt }}:</label>
            <input type="text" name='{{ prompt }}'>
        {% endfor %}

        <button>Submit</button>
    </form>

{% endblock %}
