<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MadLibs: Home</title>
</head>
<body>
    <h1>MadLibs</h1>

    <form action="/story">
        <label for="name">Name:</label>
        <input type="text" name="name">
        <br>
        <br>

        <label for="something">Some other field:</label>
        <input type="text" name="something">
        <br>
        <br>

        <button>Submit</button>
    </form>

</body>
</html>